<?php

$form = $this->getForm();
$module = $this->view->getVariable('module');
$attendees = $this->view->getVariable('attendees');
$session = $this->view->getVariable('session');
$selected = $form->getValue('attendance');

?>

                <section class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">
                                    <?php echo $this->view->sessionName($session); ?> - Attendance - Module:
                                    <?php echo $this->view->escapeHtml($module->code); ?>
                                    
                                </h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <?php $this->block('session-tab'); ?>
                                    
                                    <div class="tab-content px-1 pt-1">
                                        <div class="tab-pane active" aria-expanded="true">
                                            <div class="col-md-12 mb-2">
                                                <form class="form" name="form-attendance-change" method="post" action="">
                                                    <div class="form-body">
                                                        <div class="table-responsive">
                                                            <table class="table table-striped table-bordered">
                                                                <thead class="bg-blue-grey white">
                                                                    <tr>
                                                                        <th>First name</th>
                                                                        <th>Last name</th>
                                                                        <th>Email</th>
                                                                        <th class="text-center">Attendance</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <?php foreach ($attendees as $attendee): ?>

                                                                    <tr>
                                                                        <td>
                                                                            <label for="attendance_<?php echo $attendee->id; ?>">
                                                                                <?php echo $this->view->escapeHtml($attendee->first_name); ?>
                                                                            
                                                                            </label>
                                                                        </td>
                                                                        <td>
                                                                            <label for="attendance_<?php echo $attendee->id; ?>">
                                                                                <?php echo $this->view->escapeHtml($attendee->last_name); ?>
                                                                                
                                                                            </label>
                                                                        </td>
                                                                        <td>
                                                                            <label for="attendance_<?php echo $attendee->id; ?>">
                                                                                <?php echo $this->view->escapeHtml($attendee->email); ?>
                                                                                
                                                                            </label>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <input type="checkbox" name="attendance[]" id="attendance_<?php echo $attendee->id; ?>" value="<?php echo $attendee->id; ?>"<?php 
                                                                            echo $this->view->checked(in_array($attendee->id, $selected)); ?>>
                                                                        </td>
                                                                    </tr>
                                                                    <?php endforeach; ?>

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="form-actions center">
                                                        <?php echo $form->getCsrf(); ?>

                                                        <button type="submit" class="btn btn-primary" title="Save">Save</button>
                                                    </div>
                                                </form>

                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
