<?php

$session = $this->view->getVariable('session');
$locked = $session->locked > 0;

$modules = $this->view->getVariable('modules');
$attendees = $this->view->getVariable('attendees');
$attendance = $this->view->getVariable('attendance');

?>

                        <section class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">
                                            <?php echo $this->view->sessionName($session); ?> - Attendance
                                            <?php echo $this->view->sessionLock($locked); ?>

                                        </h4>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-body">
                                            <?php $this->block('session-tab'); ?>

                                            <div class="tab-content px-1 pt-1">
                                                <div class="tab-pane active" aria-expanded="true">
                                                    <div class="col-md-12 mb-2">
                                                        <div class="card-content">
                                                            <div class="card-body border-top-blue-grey border-top-lighten-5">
                                                                <?php if (! empty($attendees)): ?>
                                                                
                                                                <div class="table-responsive">
                                                                    <table class="table table-striped table-bordered">
                                                                        <thead class="bg-blue-grey white">
                                                                            <tr>
                                                                                <th>First name</th>
                                                                                <th>Last name</th>
                                                                                <th>Email</th>
                                                                                <?php foreach ($modules as $module): ?>

                                                                                <th class="text-center">
                                                                                    <?php echo $this->view->escapeHtml($module); ?>
                                                                                </th>
                                                                                <?php endforeach; ?>

                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <?php foreach ($attendees as $attendee): ?>

                                                                            <tr>
                                                                                <td><?php echo $this->view->escapeHtml($attendee->first_name); ?></td>
                                                                                <td><?php echo $this->view->escapeHtml($attendee->last_name); ?></td>
                                                                                <td><?php echo $this->view->escapeHtml($attendee->email); ?></td>
                                                                                <?php foreach ($attendance[$attendee->id] as $item): ?>

                                                                                <td class="text-center"><?php echo $this->view->attendanceMark($item); ?></td>
                                                                                <?php endforeach; ?>

                                                                            </tr>
                                                                            <?php endforeach; ?>
  
                                                                        </tbody>
                                                                        <?php if (! $locked): ?>
                                                                        
                                                                        <tfoot>
                                                                            <tr>
                                                                                <th colspan="3">&nbsp;</th>
                                                                                <?php foreach ($modules as $moduleId => $module): ?>

                                                                                <th class="text-center">
                                                                                    <a class="btn btn-link" href="<?php echo $this->view->actionUrl('attendance/change/id/' . $session->id . '/module/' . $moduleId); ?>" title="Edit">Edit</a>
                                                                                </th>
                                                                                <?php endforeach; ?>
                                                                                
                                                                            </tr>
                                                                        </tfoot>
                                                                        <?php endif; ?>
                                                                        
                                                                    </table>
                                                                </div>
                                                                <?php else: ?>
                                                                
                                                                <div class="alert alert-warning">No attendees found</div>
                                                                <?php endif; ?>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
