<?php
$layoutVariables = $this->view->getVariable('layoutVariables');
$flash = $layoutVariables['flashMessage'];
$error = null;
$style = 'success';
$title = 'Success';
$messageBox = $flash['hasFlash'];
if (!empty($flash['message'])) {
    $messageBox = true;
}
if (! empty($flash['type'])) {
    if ('error' == $flash['type']) {
        $style = 'danger';
        $title = 'Error';
    } elseif ('warning' == $flash['type']) {
        $style = 'warning';
        $title = 'Warning';
    }
}

$showFormFlash = $this->view->getVariable('showFormFlash');
if ($showFormFlash) {
    $form = $this->getForm();
    if (!empty($form)) {
        if ($form->hasError()) {
            $error = $form->formatErrors();
        }
    }
}

if ($messageBox): ?>

    <div class="alert alert-<?php echo $style; ?> alert-dismissible mb-2" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong><?php echo $title; ?>.</strong> <?php echo $flash['message']; ?>
    </div>
<?php endif; ?>

<?php if (! empty($error)): ?>
    <div class="alert alert-danger alert-dismissible mb-2" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Error!!</strong><br> <?php echo $error; ?>
    </div>
<?php endif;
