<?php
use Application\Constant\Tab;

$active = ' active';
$dashboard = $active;
$session = '';
$report = '';
$users = '';
$layoutVariables = $this->view->getVariable('layoutVariables');
$tab = $layoutVariables['currentTab'];
if ($tab == Tab::SESSION) {
    $session = $active;
    $dashboard = '';
} elseif ($tab == Tab::REPORT) {
    $report = $active;
    $dashboard = '';
} elseif ($tab == Tab::USER) {
    $users = $active;
    $dashboard = '';
}
?>

<!-- BEGIN: Main Menu-->
    <div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-static navbar-dark navbar-without-dd-arrow navbar-shadow" role="navigation" data-menu="menu-wrapper">
        <div class="navbar-container main-menu-content" data-menu="menu-container">
            <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
                <li class="nav-item<?php echo $dashboard; ?>">
                    <a class="dropdown-toggle nav-link" href="<?php echo $this->view->actionUrl(''); ?>" title="Home"><i class="ft-home"></i><span>Home</span></a>
                </li>
                
                <li class="dropdown nav-item<?php echo $session; ?>" data-menu="dropdown">
                    <a class="dropdown-toggle nav-link" href="javascript:;" data-toggle="dropdown" title="Sessions"><i class="ft-sidebar"></i><span>Sessions</span></a>
                    <ul class="dropdown-menu">
                        <div class="arrow_box">
                            <li data-menu="">
                                <a class="dropdown-item" href="<?php echo $this->view->actionUrl('session'); ?>" title="Sessions" data-toggle="dropdown">Sessions</a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item" href="<?php echo $this->view->actionUrl('session/create'); ?>" title="New Session" data-toggle="dropdown">New Session</a>
                            </li>
                        </div>
                    </ul>
                </li>
                
                <li class="nav-item<?php echo $report; ?>">
                    <a class="dropdown-toggle nav-link" href="<?php echo $this->view->actionUrl('report'); ?>" title="Reports"><i class="ft-home"></i><span>Reports</span></a>
                </li>
                
                <li class="dropdown nav-item<?php echo $users; ?>" data-menu="dropdown">
                    <a class="dropdown-toggle nav-link" href="javascript:;" data-toggle="dropdown" title="Users"><i class="ft-user"></i><span>Users</span></a>
                    <ul class="dropdown-menu">
                        <div class="arrow_box">
                            <li data-menu=""><a class="dropdown-item" href="<?php echo $this->view->actionUrl('user'); ?>" title="Users" data-toggle="dropdown">Users</a>
                            </li>
                            <li data-menu=""><a class="dropdown-item" href="<?php echo $this->view->actionUrl('user/create'); ?>" title="New User" data-toggle="dropdown">New User</a>
                            </li>
                        </div>
                    </ul>
                </li>
                
                
            </ul>
        </div>
    </div>
    <!-- END: Main Menu -->
    