<?php
use Application\Constant\Tab;

$active = ' active';
$dashboard = $active;
$session = '';
$report = '';
$layoutVariables = $this->view->getVariable('layoutVariables');
$tab = $layoutVariables['currentTab'];
if ($tab == Tab::SESSION) {
    $session = $active;
    $dashboard = '';
} elseif ($tab == Tab::REPORT) {
    $report = $active;
    $dashboard = '';
}
?>

    <!-- BEGIN: Main Menu -->
    <div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-static navbar-dark navbar-without-dd-arrow navbar-shadow" role="navigation" data-menu="menu-wrapper">
        <div class="navbar-container main-menu-content" data-menu="menu-container">
            <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
                <li class="nav-item<?php echo $dashboard; ?>">
                    <a class="dropdown-toggle nav-link" href="<?php echo $this->view->actionUrl(''); ?>" title="Home"><i class="ft-home"></i><span>Home</span></a>
                </li>
                <li class="nav-item<?php echo $session; ?>">
                    <a class="dropdown-toggle nav-link" href="<?php echo $this->view->actionUrl('session'); ?>" title="Sessions"><i class="ft-sidebar"></i><span>Sessions</span></a>
                </li>
                <li class="nav-item<?php echo $report; ?>">
                    <a class="dropdown-toggle nav-link" href="<?php echo $this->view->actionUrl('report'); ?>" title="Reports"><i class="ft-home ft-activity"></i><span>Reports</span></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- END: Main Menu -->
    