<?php

use Application\Constant\SessionConstant;

$tab = $this->view->getVariable('tab');
$sessionId = $this->view->getVariable('sessionId');
$tabUrl = $this->view->actionUrl('session/change/id/' . $sessionId);

?>
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link<?php if (SessionConstant::TAB_OVERVIEW == $tab) { ?> active<?php } ?>" href="<?php echo $tabUrl; ?>" title="Overview">
                                                Overview
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link<?php if (SessionConstant::TAB_EDIT == $tab) { ?> active<?php } ?>" href="<?php echo $tabUrl; ?>/tab/<?php echo SessionConstant::TAB_EDIT; ?>" title="Session">
                                                Session
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link<?php if (SessionConstant::TAB_MODULE == $tab) { ?> active<?php } ?>" href="<?php echo $tabUrl; ?>/tab/<?php echo SessionConstant::TAB_MODULE; ?>" title="Modules">
                                                Modules
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link<?php if (SessionConstant::TAB_ATTENDEE == $tab) { ?> active<?php } ?>" href="<?php echo $this->view->actionUrl('attendee/index/id/' . $sessionId); ?>" title="Attendees">
                                                Attendees
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link<?php if (SessionConstant::TAB_ATTENDANCE == $tab) { ?> active<?php } ?>" href="<?php echo $this->view->actionUrl('attendance/index/id/' . $sessionId); ?>" title="Attendance">
                                                Attendance
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link<?php if (SessionConstant::TAB_TEMPLATE == $tab) { ?> active<?php } ?>" href="<?php echo $tabUrl; ?>/tab/<?php echo SessionConstant::TAB_TEMPLATE; ?>" title="Certificate Template">
                                                Certificate Template
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link<?php if (SessionConstant::TAB_LOCK == $tab) { ?> active<?php } ?>" href="<?php echo $tabUrl; ?>/tab/<?php echo SessionConstant::TAB_LOCK; ?>" title="Lock">
                                                Lock
                                            </a>
                                        </li>
                                    </ul>
