<?php

$form = $this->getForm();
$captcha = $form->captcha();
$captchaEnabled = $this->view->getVariable('captchaEnabled');

?>

                <section class="flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-lg-4 col-md-6 col-10 box-shadow-2 p-0">
                            <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
                                <div class="card-header border-0">
                                    <div class="text-center mb-1">
                                        <img src="<?php echo $this->view->mediaUrl(); ?>images/logo/logo1.png" alt="branding logo" style="width: 120px">
                                    </div>
                                    <div class="font-large-1 text-center">
                                        Login
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <?php $this->block('flash-auth'); ?>
                                        
                                        <form class="form-horizontal" action="<?php echo $this->view->actionUrl('login'); ?>" method="post">
                                            <fieldset class="form-group position-relative has-icon-left">
                                                <input type="email" class="form-control round" name="credential1" id="credential1" placeholder="Username" required="required" maxlength="100">
                                                <div class="form-control-position">
                                                    <i class="ft-user"></i>
                                                </div>
                                            </fieldset>
                                            <fieldset class="form-group position-relative has-icon-left">
                                                <input type="password" class="form-control round" name="credential2" id="credential2" placeholder="Password" required="required" maxlength="50">
                                                <div class="form-control-position">
                                                    <i class="ft-lock"></i>
                                                </div>
                                            </fieldset>
                                            <?php if ($captchaEnabled): ?>
                                            
                                            <div class="form-group row">
                                                <div class="col-md-6 col-12 text-center mt-1">
                                                    CAPTCHA Verification: <?php echo $captcha->getExpression(); ?>
                                                    <?php echo $captcha->getChallenge(); ?>
                                                </div>
                                                <div class="col-md-6 col-12 float-sm-left text-center">
                                                    <input type="text" class="form-control round" name="<?php 
                                                    echo $captcha->getVerificationField(); ?>" placeholder="?" required="required" maxlength="10">
                                                </div>
                                            </div>
                                            <?php endif; ?>
                                                                   
                                            <div class="form-group text-center">
                                                <?php echo $form->getCsrf(); ?>
                                                
                                                <button type="submit" class="btn round btn-block btn-glow btn-bg-gradient-x-purple-blue col-12 mr-1 mb-1" title="Login">Login</button>    
                                            </div>

                                        </form>
                                    </div>
                                    <?php if ($this->view->getVariable('showForgotPassword')): ?>
                                    
                                    <p class="card-subtitle line-on-side text-muted text-center"><span><a href="<?php echo $this->view->actionUrl('login/recover-password'); ?>" class="card-link" title="Forgot Password">Forgot Password?</a></span></p>
                                    <?php endif; ?>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
