<?php
/**
 * login/recover-password
 */

$form = $this->getForm();
$captcha = $form->captcha();
$captchaEnabled = $this->view->getVariable('captchaEnabled');

?>

                <section class="flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-lg-4 col-md-6 col-10 box-shadow-2 p-0">
                            <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
                                <div class="card-header border-0">
                                    <div class="text-center mb-1">
                                        <img src="<?php echo $this->view->mediaUrl(); ?>images/logo/logo.svg" alt="branding logo" style="width: 120px">
                                    </div>
                                     <div class="font-large-1 text-center">
                                        Recover Password
                                    </div>
                                    <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                                        <span>We will send you a link to reset password.</span>
                                    </h6>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <?php $this->block('flash-auth'); ?>
                                        
                                        <form class="form-horizontal" action="" method="post" autocomplete="off">
                                            <fieldset class="form-group position-relative has-icon-left">
                                                <input type="email" class="form-control round" name="credential3" id="credential3" placeholder="Email Address" required="required" maxlength="100">
                                                <div class="form-control-position">
                                                    <i class="ft-mail"></i>
                                                </div>
                                            </fieldset>      
                                            <?php if ($captchaEnabled): ?>
                                            
                                            <div class="form-group row">
                                                <div class="col-md-6 col-12 text-center mt-1">
                                                    CAPTCHA Verification: <?php echo $captcha->getExpression(); ?>
                                                    <?php echo $captcha->getChallenge(); ?>
                                                </div>
                                                <div class="col-md-6 col-12 float-sm-left text-center">
                                                    <input type="text" class="form-control round" name="<?php 
                                                    echo $captcha->getVerificationField(); ?>" placeholder="?" required="required" maxlength="10">
                                                </div>
                                            </div>
                                            <?php endif; ?>
                                            
                                            <div class="form-group text-center">
                                                <?php echo $form->getCsrf(); ?>

                                                <button type="submit" class="btn round btn-block btn-glow btn-bg-gradient-x-purple-blue col-12 mr-1 mb-1" title="submit">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="card-footer border-0 p-0">
                                    <p class="float-sm-center text-center">Already have an account ?
                                        <a href="<?php echo $this->view->actionUrl('login'); ?>" class="card-link" title="Login">Login here</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


