<?php

$form = $this->getForm();

?>

                <section class="flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-lg-4 col-md-6 col-10 box-shadow-2 p-0">
                            <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
                                <div class="card-header border-0">
                                    <div class="text-center mb-1">
                                        <img src="<?php echo $this->view->mediaUrl(); ?>images/logo/logo.svg" alt="branding logo" style="width: 120px">
                                    </div>
                                    <div class="font-large-1 text-center">
                                        Reset Password
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <?php $this->block('flash-auth'); ?>
                                        <?php if ($this->view->getVariable('validRequest')): ?>
                                        <form class="form-horizontal" action="" method="post" autocomplete="off">
                                            <fieldset class="form-group position-relative has-icon-left">
                                                <input type="email" class="form-control round" name="resetemail" id="resetemail" placeholder="Email" required="required" maxlength="100">
                                                <div class="form-control-position">
                                                    <i class="ft-user"></i>
                                                </div>
                                            </fieldset>
                                            <fieldset class="form-group position-relative has-icon-left">
                                                <input type="password" class="form-control round" name="resetpassword1" id="resetpassword1" placeholder="New Password" required="required" maxlength="50">
                                                <div class="form-control-position">
                                                    <i class="ft-lock"></i>
                                                </div>
                                            </fieldset>
                                            <fieldset class="form-group position-relative has-icon-left">
                                                <input type="password" class="form-control round" name="resetpassword2" id="resetpassword2" placeholder="Confirm Password" required="required" maxlength="50">
                                                <div class="form-control-position">
                                                    <i class="ft-lock"></i>
                                                </div>
                                            </fieldset>
                     
                                            <div class="form-group text-center">
                                                <?php echo $form->getCsrf(); ?>
                                                
                                                <button type="submit" class="btn round btn-block btn-glow btn-bg-gradient-x-purple-blue col-12 mr-1 mb-1" title="Reset Password">Reset Password</button>    
                                            </div>

                                        </form>
                                        <?php else: ?>
                                        <p class="card-subtitle line-on-side text-muted text-center">
                                            Unauthorized or Invalid or malformed request
                                        </p>
                                        <?php endif; ?>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
