<?php

$layoutVariables = $this->view->getVariable('layoutVariables');
$session = $layoutVariables['session'];

?>

                <section class="flexbox-container bg-hexagons-danger">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-lg-4 col-md-6 col-10 p-0">
                            <div class="card-header bg-transparent border-0">
                                <div class="text-center mb-1">
                                    <?php if (! $session->isLogged()): ?>
                                    
                                    <img src="<?php echo $this->view->mediaUrl(); ?>images/logo/logo.png" alt="branding logo">
                                    <?php endif; ?>&nbsp;
                                </div>
                                
                                
                                <h2 class="error-code text-center mb-2 white" style="font-weight:400;">404</h2>
                                <h3 class="text-uppercase text-center white">Page Not Found !</h3>
                            </div>
                            <div class="card-content">
                                
                                <div class="row py-2 text-center">
                                    <div class="col-12">
                                        <a href="<?php echo $this->view->baseUrl(); ?>" class="btn btn-white danger box-shadow-4"><i class="ft-home"></i> Back to Home</a>
                                    </div>

                                </div>
                            </div>
                            <div class="card-footer bg-transparent">
                                <div class="row">
                                    <p class="text-muted text-center col-12 py-1 white">
                                        <a href="#" title="Contact Administrator">Contact Administrator</a> 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
