
                <section class="row">
                    <div class="col-md-12 col-sm-12">
                        <div id="with-header" class="card">
                            <div class="card-header">
                                <h4 class="card-title">Sessions Dashboard</h4>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body border-top-blue-grey border-top-lighten-5 ">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered">
                                            <thead class="bg-blue-grey white">
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Title</th>
                                                    <th>Location</th>
                                                    <th>Timeline</th>
                                                    <th>Attendees</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <?php if ($this->view->getVariable('total') > 0): ?>
                                                <?php foreach ($this->view->getVariable('list') as $row): ?>

                                                <tr>
                                                    <td>
                                                        <?php echo $this->view->sessionDate($row->start_date, $row->end_date); ?>
                                                    </td>
                                                    <td><?php echo $this->view->escapeHtml($row->title); ?></td>
                                                    <td><?php echo $this->view->escapeHtml($row->location); ?></td>
                                                    <td>
                                                        <?php echo $this->view->sessionTimeline($row->start_date, $row->end_date); ?>
                                                        
                                                    </td>
                                                    <td>
                                                        <?php echo $this->view->lookup('attendees', $row->id, '--', false); ?>
                                                    
                                                    </td>
                                                    <td>
                                                        <?php echo $this->view->sessionStatus($row->start_date, $row->locked); ?> 
                                                        
                                                    </td>
                                                </tr>
                                                <?php endforeach; ?>
                                                <?php else: ?>

                                                <tr>
                                                    <td colspan="6">
                                                        <div class="alert alert-warning">No sessions found</div>
                                                    </td>
                                                </tr>
                                                <?php endif; ?>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
