<?php
$form = $this->getForm();

?>

                <section class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Edit User</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <form class="form" name="form-user-change" method="post" action="" autocomplete="off">
                                        <div class="form-body">
                                            <div class="form-group">
                                                <label for="user_type_id">User Type</label>
                                                <select name="user_type_id" id="user_type_id" class="form-control">
                                                    <?php echo $this->view->formHelper('select', $this->view->lookupStore('user_type'), $form->getValue('user_type_id')); ?>
                                                    
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="first_name">First Name</label>
                                                <input type="text" name="first_name" id="first_name" class="form-control" value="<?php 
                                                echo $form->getEscapedValue('first_name'); ?>" placeholder="First Name" required="required">
                                            </div>
                                            <div class="form-group">
                                                <label for="name">Last Name</label>
                                                <input type="last_name" name="last_name" id="last_name" class="form-control" value="<?php 
                                                echo $form->getEscapedValue('last_name'); ?>" placeholder="Last Name" required="required">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input type="email" name="email" id="email" class="form-control" value="<?php 
                                                echo $form->getEscapedValue('email'); ?>" placeholder="Email" required="required">
                                            </div>
                                            <div class="form-group">
                                                <label for="active">Status</label>
                                                <select name="active" id="active" class="form-control">
                                                    <?php echo $this->view->formHelper('select', $this->view->lookupStore('status'), $form->getValue('active')); ?>
                                                    
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="font-medium-1">Password fields are required only if the password is to be changed</label>
                                            </div>
                                            <div class="form-group">
                                                <label for="user_password3">New Password</label>
                                                <input type="password" name="user_password3" id="user_password3" class="form-control" placeholder="New Password">
                                                <p class="help-block">Minimum 6 characters, no space characters allowed</p>
                                            </div>
                                            <div class="form-group">
                                                <label for="user_password4">Repeat New Password</label>
                                                <input type="password" name="user_password4" id="user_password4" class="form-control" placeholder="Repeat New Password">
                                            </div>
                                        </div>
                                        <div class="form-actions center">
                                            <?php echo $form->getCsrf(); ?>
                                            <?php echo $form->getOriginal(); ?>
                                            
                                            <button type="submit" class="btn btn-primary" title="Save">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
