<?php
$form = $this->getForm();
?>
    
                <section class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">New User</h4>
                            </div>
                            <div class="card-content">
                                <form class="form" name="form-user-create" method="post" action="" autocomplete="off">
                                    <div class="card-body">
                                    
                                        <div class="form-body">
                                            <div class="form-group">
                                                <label for="user_type_id">User Type</label>
                                                <select name="user_type_id" id="user_type_id" class="form-control">
                                                    <?php echo $this->view->formHelper('select', $this->view->lookupStore('user_type'), $form->getValue('user_type_id')); ?>
                                                    
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="first_name">First name</label>
                                                <input type="text" name="first_name" id="first_name" class="form-control" value="<?php echo $form->getEscapedValue('first_name'); ?>" placeholder="First name" required="required">
                                            </div>
                                            <div class="form-group">
                                                <label for="last_name">Last name</label>
                                                <input type="text" name="last_name" id="last_name" class="form-control" value="<?php echo $form->getEscapedValue('last_name'); ?>" placeholder="Last name" required="required">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input type="email" name="email" id="email" class="form-control" value="<?php echo $form->getEscapedValue('email'); ?>" placeholder="Email" required="required">
                                            </div>
                                            <div class="form-group">
                                                <label for="active">Status</label>
                                                <select name="active" id="active" class="form-control">
                                                    <?php echo $this->view->formHelper('select', $this->view->lookupStore('status'), $form->getValue('active')); ?>
                                                    
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="user_password1">Password</label>
                                                <input type="password" name="user_password1" id="user_password1" class="form-control" placeholder="New Password" required="required">
                                                <p class="help-block">Minimum 6 characters, no space characters allowed</p>
                                            </div>
                                            <div class="form-group">
                                                <label for="user_password2">Repeat Password</label>
                                                <input type="password" name="user_password2" id="user_password2" class="form-control" placeholder="Repeat New Password" required="required">
                                            </div>
                                        </div>
                                        <div class="form-actions center">
                                            <?php echo $form->getCsrf(); ?>
                                            
                                            <button type="submit" class="btn btn-primary" title="Save">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
