<?php
$form = $this->getForm();
$actionAccess = $this->view->getVariable('actionAccess');
$total = $this->view->getVariable('total');
?>

                <section>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Users</h4>
                                    <?php if ($total > 0): ?>
                                    
                                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        </ul>
                                    </div>
                                    <?php endif; ?>
                                    
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body card-dashboard">
                                        <?php if ($total > 0): ?>
                                        
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered zero-configuration">
                                                <thead class="bg-teal white">
                                                    <tr>
                                                        <th>First Name</th>
                                                        <th>Last Name</th>
                                                        <th>Email</th>
                                                        <th>User Type</th>
                                                        <th>Status</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <?php foreach ($this->view->getVariable('list') as $row): ?>
                                                    
                                                    <tr>
                                                        <td><?php echo $this->view->escapeHtml($row->first_name); ?></td>
                                                        <td><?php echo $this->view->escapeHtml($row->last_name); ?></td>
                                                        <td><?php echo $this->view->escapeHtml($row->email); ?></td>
                                                        <td><?php echo $this->view->lookup('user_type', $row->user_type_id); ?></td>
                                                        <td><?php echo $this->view->lookup('status', $row->active); ?></td>
                                                        <td>
                                                            <a class="btn btn-info mr-1" href="<?php 
                                                            echo $this->view->actionLink('change', $row->id); ?>" title="Edit"><i class="ft-edit"></i> Edit</a>
                                                            <a class="btn btn-danger confirm-remove" href="<?php echo $this->view->actionLink('remove', $row->id); ?>" data-confirm="User" title="Delete">
                                                                <i class="ft-delete"></i> Delete
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <?php endforeach; ?>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                        <?php else: ?>
                                        
                                        <div class="alert alert-warning">No records found</div>
                                        <?php endif; ?>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </section>
                  
            