<?php

$session = $this->view->getVariable('session');
$attendee = $this->view->getVariable('attendee');

?>

        <form name="form-attendance-modal" id="form-attendance-modal" method="post" action="">
            <div class="modal fade" id="modal-attendance" tabindex="-1" role="dialog" aria-labelledby="myModalLabelAttendance" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="myModalLabelAttendance"> 
                                Edit Attendee Attendance
                            </h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-body ml-1">
                                <?php foreach ($this->view->getVariable('attendance') as $sessionModuleId => $item): ?>
                                
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" name="session_module[]" value="<?php echo $sessionModuleId; ?>"<?php
                                        echo $this->view->checked($item['attendance']); ?>>
                                        <?php echo $this->view->moduleName($item['code'], $item['title']); ?>
                                        
                                    </label>
                                </div>
                                <?php endforeach; ?>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" id="attendance-update-url" value="<?php
                            echo $this->view->actionUrl('attendee/attendance/id/' . $session->id . '/attendee-id/' . $attendee->id); ?>">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
