<?php

$form = $this->getForm();
$session = $this->view->getVariable('session');

?>

                <section class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">
                                    <?php echo $this->view->sessionName($session); ?> - New Attendee
                                </h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <?php $this->block('session-menu'); ?>
                                    
                                    <div class="tab-content px-1 pt-1">
                                        <div class="tab-pane active" aria-expanded="true">
                                            <form class="form" name="form-attendee-create" id="form-attendee-create" method="post" action="" autocomplete="off">
                                                <div class="form-body">
                                                    <div class="form-group">
                                                        <label for="first_name">First name <span class="red">*</span></label>
                                                        <input type="text" name="first_name" id="first_name" class="form-control" value="<?php
                                                        echo $form->getEscapedValue('first_name'); ?>" placeholder="First name" maxlength="200" required="required">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="last_name">Last name <span class="red">*</span></label>
                                                        <input type="text" name="last_name" id="last_name" class="form-control" value="<?php
                                                        echo $form->getEscapedValue('last_name'); ?>" placeholder="Last name" maxlength="200" required="required">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="name_on_certificate">Name on certificate <span class="red">*</span></label>
                                                        <input type="text" name="name_on_certificate" id="name_on_certificate" class="form-control" value="<?php
                                                        echo $form->getEscapedValue('name_on_certificate'); ?>" placeholder="Name on certificate" required="required">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email">Email <span class="red">*</span></label>
                                                        <input type="email" name="email" id="email" class="form-control" value="<?php
                                                        echo $form->getEscapedValue('email'); ?>" placeholder="Email" maxlength="200" required="required">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="company">Company <span class="red">*</span></label>
                                                        <input type="text" name="company" id="company" class="form-control" value="<?php
                                                        echo $form->getEscapedValue('company'); ?>" placeholder="Company" maxlength="200" required="required">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="designation">Designation <span class="red">*</span></label>
                                                        <input type="text" name="designation" id="designation" class="form-control" value="<?php
                                                        echo $form->getEscapedValue('designation'); ?>" placeholder="Designation" maxlength="200" required="required">
                                                    </div>
                                                </div>
                                                <div class="form-actions d-flex justify-content-center">
                                                    <?php echo $form->getCsrf(); ?>

                                                    <button type="submit" class="btn btn-primary" title="Save">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
