<?php

$total = $this->view->getVariable('total');
$session = $this->view->getVariable('session');
$locked = $session->locked > 0;

?>

                <section class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">
                                    <?php echo $this->view->sessionName($session); ?> - Attendees 
                                    <?php echo $this->view->sessionLock($locked); ?>
                                    
                                </h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <?php $this->block('session-tab'); ?>
                                    
                                    <div class="tab-content px-1 pt-1">
                                        <div class="tab-pane active" aria-expanded="true">
                                            <?php if (! $locked): ?>
                                            
                                            <div class="row">
                                                <div class="col-md-12 mb-1">
                                                    <a class="btn btn-outline-secondary" href="<?php 
                                                    echo $this->view->actionUrl('attendee/create/id/' . $session->id); ?>" title="New Attendee">New Attendee</a>
                                                </div> 
                                            </div>
                                            <?php endif; ?>
                                            
                                            <?php if ($total > 0): ?>
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered zero-configuration">
                                                    <thead class="bg-blue-grey white">
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>First name</th>
                                                            <th>Last name</th>
                                                            <th>Email</th>
                                                            <th>Company</th>
                                                            <th>Designation</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <?php foreach ($this->view->getVariable('list') as $row): ?>
                                                        
                                                        <tr>
                                                            <td><?php echo $row->id; ?></td>
                                                            <td><?php echo $this->view->escapeHtml($row->first_name); ?></td>
                                                            <td><?php echo $this->view->escapeHtml($row->last_name); ?></td>
                                                            <td><?php echo $this->view->escapeHtml($row->email); ?></td>
                                                            <td><?php echo $this->view->escapeHtml($row->company); ?></td>
                                                            <td><?php echo $this->view->escapeHtml($row->designation); ?></td>
                                                            <td>
                                                                <a class="btn btn-info mr-1" href="<?php echo $this->view->actionUrl('attendee/view/id/' . $session->id . '/attendee-id/' . $row->id); ?>" title="View">
                                                                    <i class="ft-eye"></i> View
                                                                </a>
                                                                <?php if (! $locked): ?>
                                                                
                                                                <a class="btn btn-teal mr-1" href="<?php echo $this->view->actionUrl('attendee/change/id/' . $session->id . '/attendee-id/' . $row->id); ?>" title="Edit">
                                                                    <i class="ft-edit"></i> Edit
                                                                </a>
                                                                <a class="btn btn-danger confirm-remove" href="<?php echo $this->view->actionUrl('attendee/remove/id/' . $session->id . '/attendee-id/' . $row->id); ?>" title="Delete" data-confirm="Attendee">
                                                                    <i class="ft-delete"></i> Delete
                                                                </a>
                                                                <?php endif; ?>
                                                                
                                                            </td>
                                                        </tr>
                                                        <?php endforeach; ?>
                                                            
                                                    </tbody>
                                                </table>
                                            </div>
                                            <?php else: ?>

                                            <div class="alert alert-warning">No attendees added</div>
                                            <?php endif; ?>
                                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
