<?php

$session = $this->view->getVariable('session');
$attendee = $this->view->getVariable('attendee');
$fullAttendance = $this->view->getVariable('fullAttendance');
$certificate = $this->view->getVariable('certificate');
$attendanceMarks = [ '', '<i class="ft-check-square teal"> </i>' ];
$locked = $session->locked > 0;
$actions = $this->view->getVariable('actions');

?>

                <section class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">
                                    <?php echo $this->view->sessionName($session); ?> - View Attendee
                                    <?php echo $this->view->sessionLock($locked); ?>
                                    
                                </h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <?php $this->block('session-tab'); ?>
                                    
                                    <div class="tab-content px-1 pt-1">
                                        <div class="tab-pane active" aria-expanded="true">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h4 class="card-title">Attendee details</h4>
                                                        </div>
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="table">
                                                                    <table class="table table-striped table-bordered">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>First name</td>
                                                                                <td><?php echo $this->view->escapeHtml($attendee->first_name); ?></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Last name</td>
                                                                                <td><?php echo $this->view->escapeHtml($attendee->last_name); ?></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Name on certificate</td>
                                                                                <td><?php echo $this->view->escapeHtml($attendee->name_on_certificate); ?></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Email</td>
                                                                                <td><?php echo $this->view->escapeHtml($attendee->email); ?></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Company</td>
                                                                                <td><?php echo $this->view->escapeHtml($attendee->company); ?></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Designation</td>
                                                                                <td><?php echo $this->view->escapeHtml($attendee->designation); ?></td>
                                                                            </tr>
                                                                        </tbody>
                                                                        <?php if (! $locked): ?>
                                                                        
                                                                        <tfoot>
                                                                            <tr>
                                                                                <th colspan="2">
                                                                                    <a class="btn btn-outline-teal"  title="Edit Attendee" href="<?php
                                                                                    echo $this->view->actionUrl('attendee/change/id/' . $session->id . '/attendee-id/' . $attendee->id); ?>">Edit Attendee</a>
                                                                                </th>
                                                                            </tr>
                                                                        </tfoot>
                                                                        <?php endif; ?>
                                                                        
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h4 class="card-title">Certificate</h4>
                                                        </div>
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="table">
                                                                    <table class="table table-striped table-bordered">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>Full attendance</td>
                                                                                <td><?php if ($fullAttendance) { ?>Yes<?php } else { ?>No<?php } ?></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Certificate</td>
                                                                                <td>
                                                                                    <?php if ($fullAttendance): ?>
                                                                                    <?php if (! empty($certificate)): ?>

                                                                                    Generated. &nbsp; [<a class="btn btn-link" href="<?php
                                                                                    echo $this->view->assetUrl('certificates/' . $session->id . '/' . $certificate->file_name); ?>" title="View" target="_blank">View</a>]
                                                                                    <?php else: ?>

                                                                                    Not generated
                                                                                    <?php endif; ?>
                                                                                    <?php else: ?>

                                                                                    Pending
                                                                                    <?php endif; ?>

                                                                                </td>
                                                                            </tr>
                                                                            <?php if (! $locked && ! empty($actions)): ?>

                                                                            <tr>
                                                                                <td>Actions</td>
                                                                                <td>
                                                                                    <form id="form-certificate-action" method="post" action="">
                                                                                        <div class="form-body">
                                                                                            <div class="form-group">
                                                                                                <select name="certificate_action" id="certificate_action" class="form-control">
                                                                                                    <option value="0">--select certificate action--</option>
                                                                                                    <?php echo $this->view->formHelper('select', $actions); ?>
                                                                                                    
                                                                                                </select>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <input type="hidden" id="certificate-action-url" value="<?php
                                                                                                echo $this->view->actionUrl('attendee/certificate/id/' . $session->id . '/attendee-id/' . $attendee->id); ?>">
                                                                                                
                                                                                                <button type="submit" class="btn btn-primary" title="Submit">Submit</button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </form>
                                                                                </td>
                                                                            </tr>
                                                                            <?php endif; ?>

                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h4 class="card-title">Attendance</h4>
                                                        </div>
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="table">
                                                                    <table class="table table-striped table-bordered">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Module</th>
                                                                                <th>Attended</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <?php foreach ($this->view->getVariable('attendance') as $item): ?>

                                                                            <tr>
                                                                                <td><?php echo $this->view->moduleName($item['code'], $item['title']); ?></td>
                                                                                <td><?php echo $attendanceMarks[$item['attendance']]; ?></td>
                                                                            </tr>
                                                                            <?php endforeach; ?>

                                                                        </tbody>
                                                                        <tfoot>
                                                                            <tr>
                                                                                <th>Summary</th>
                                                                                <th><?php echo $this->view->getVariable('summary'); ?></th>
                                                                            </tr>
                                                                            <tr>
                                                                                <th colspan="2">
                                                                                    <a class="btn btn-outline-teal"  title="View Session Attendance" href="<?php
                                                                                    echo $this->view->actionUrl('attendance/index/id/' . $session->id); ?>">View Session Attendance</a>
                                                                                    <?php if (! $locked): ?>
                                                                                    &nbsp; <a class="btn btn-outline-teal"  title="Edit Attendance" id="edit-attendance" href="javascript:;">Edit Attendance</a>
                                                                                    <?php endif; ?>
                                                                                    
                                                                                </th>
                                                                            </tr>
                                                                        </tfoot>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
