<?php

$options = $this->view->getVariable('options');
$session = $options['session'];
$attendees = $options['attendees'];
$fields = $options['fields'];

?>

                <section>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Attendees</h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body card-dashboard">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            Session
                                                        </td>
                                                        <td>
                                                            <?php echo $this->view->escapeHtml($session->title); ?>
                                                            
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Date
                                                        </td>
                                                        <td>
                                                            <?php echo $this->view->sessionDate($session->start_date, $session->end_date); ?>
                                                            
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Location
                                                        </td>
                                                        <td>
                                                            <?php echo $this->view->escapeHtml($session->location); ?>
                                                            
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Number of attendees
                                                        </td>
                                                        <td>
                                                            <?php echo count($attendees); ?>
                                                            
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="card-body card-dashboard">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered">
                                                <thead class="bg-teal white">
                                                    <tr>
                                                        <th>Sl. No.</th>
                                                        <?php foreach ($fields as $title): ?>
                                                        
                                                        <th><?php echo $title; ?></th>
                                                        <?php endforeach; ?>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <?php foreach ($attendees as $row): ?>
                                                    
                                                    <tr>
                                                        <td><?php echo $this->view->counter(); ?></td>
                                                        <?php foreach ($fields as $field => $fieldTitle): ?>
                                                        
                                                        <td><?php echo $this->view->escapeHtml($row->{$field}); ?></td>
                                                        <?php endforeach; ?>
                                                        
                                                    </tr>
                                                    <?php endforeach; ?>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </section>
            