<?php

use Application\Constant\Report;
$form = $this->getForm();

$moduleNamePattern = '"%s" - %s';
$sessionModules = $this->view->getVariable('sessionModules');
$selectedModules = $form->getValue('module');
$selectedAttendeeFields = $form->getValue('attendee_field');

?>

                <section class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">View/Export Session Report</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <form name="form-report" id="form-report" method="post" action="">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-body">
                                                    <div class="form-group">
                                                        <label for="session_id">Session</label>
                                                        <select name="session_id" id="session_id" class="form-control" title="Session">
                                                            <option value="0">--select--</option>
                                                            <?php echo $this->view->formHelper('select', $this->view->getVariable('sessionOptions'), $form->getValue('session_id')); ?>

                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="type">Report type</label>
                                                        <select name="type" id="type" class="form-control">
                                                            <?php echo $this->view->formHelper('select', $this->view->getVariable('reportTypes'), $form->getValue('type')); ?>

                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Attendee fields</label><br>
                                                        <?php foreach ($this->view->getVariable('attendeeFieldOptions') as $fieldIndex => $fieldName): ?>
                                                        <label for="attendee-field-<?php echo $fieldIndex; ?>">
                                                        <input type="checkbox" name="attendee_field[]" id="attendee-field-<?php echo $fieldIndex; ?>" value="<?php echo $fieldIndex; ?>"<?php 
                                                            echo $this->view->checked(in_array($fieldIndex, $selectedAttendeeFields)); ?>  class="attendee-field"> 
                                                        <?php echo $fieldName; ?> &nbsp; &nbsp; &nbsp; </label><br>
                                                        <?php endforeach; ?>
                                                        
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="order">Order by</label>
                                                        <select name="order" id="order" class="form-control">
                                                            <?php echo $this->view->formHelper('select', $this->view->getVariable('orderOptions'), $form->getValue('order')); ?>

                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="sort">Sort</label>
                                                        <select name="sort" id="sort" class="form-control">
                                                            <?php echo $this->view->formHelper('select', $this->view->getVariable('sortOptions'), $form->getValue('sort')); ?>

                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="mode">Report mode</label>
                                                        <select name="mode" id="mode" class="form-control">
                                                            <?php echo $this->view->formHelper('select', $this->view->getVariable('reportModes'), $form->getValue('mode')); ?>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-body" id="select-module"<?php 
                                                    if (Report::TYPE_ATTENDANCE != $form->getValue('type')) { echo $this->view->displayStyle(); } ?>>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <h4 class="card-title">Modules</h4>
                                                                </div>
                                                                <div class="card-content">
                                                                    <div class="card-body">
                                                                        <?php foreach ($this->view->getVariable('modules') as $module): ?>
                                                                        <div class="form-group">
                                                                            <label for="<?php echo $module->id; ?>" >
                                                                                <input type="checkbox" name="module[]" id="module-<?php echo $module->id; ?>" value="<?php echo $module->id; ?>"<?php 
                                                                                if (in_array($module->id, $sessionModules)) { echo $this->view->checked(in_array($module->id, $selectedModules)); } else {
                                                                                    ?> disabled="disabled"<?php } ?> class="session-module">
                                                                                <?php echo $this->view->escapeHtml(sprintf($moduleNamePattern, $module->code, $module->title)); ?>

                                                                            </label>
                                                                        </div>
                                                                        <?php endforeach; ?>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="attendance">Attendance filter</label>
                                                        <select name="attendance" id="attendance" class="form-control">
                                                            <?php echo $this->view->formHelper('select', $this->view->getVariable('attendanceOptions'), $form->getValue('attendance')); ?>

                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="attendance_mark">Attendance present mark</label>
                                                        <select name="attendance_mark" id="attendance_mark" class="form-control">
                                                            <?php echo $this->view->formHelper('select', $this->view->getVariable('attendanceMarkOptions'), $form->getValue('attendance_mark')); ?>

                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="attendance_mark_custom">OR custom</label>
                                                        <input type="text" name="attendance_mark_custom" id="attendance_mark_custom" class="form-control" value="<?php
                                                        echo $form->getEscapedValue('attendance_mark_custom'); ?>" maxlength="20">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="absent_mark">Attendance absent mark</label>
                                                        <select name="absent_mark" id="absent_mark" class="form-control">
                                                            <?php echo $this->view->formHelper('select', $this->view->getVariable('absentMarkOptions'), $form->getValue('absent_mark')); ?>

                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="absent_mark_custom">OR custom</label>
                                                        <input type="text" name="absent_mark_custom" id="absent_mark_custom" class="form-control" value="<?php
                                                        echo $form->getEscapedValue('absent_mark_custom'); ?>" maxlength="20">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-actions center">
                                            <?php echo $form->getCsrf(); ?>
                                            
                                            <button type="submit" class="btn btn-primary" title="Submit">Submit</button>
                                            <input type="hidden" id="get-modules-url" value="<?php echo $this->view->actionUrl('report/get-session-modules'); ?>">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            
