
                <section class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Reports</h4>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <div class="alert alert-warning">
                                        No sessions available for report
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
