<?php
$actionAccess = $this->view->getVariable('actionAccess');
//$total = $this->view->getVariable('total');
?>

<section class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div id="" class="card-body">
                <div id="" class="row">
                    <div class="col-md-12 col-sm-12 text-center text-md-center">
                        <h2>SESSION MODULE REPORT</h2>
                    </div>
                </div>
                
                <div id="" class="row pt-2">
                    <div class="col-sm-4 text-bold-700">
                        <span>Session Name</span>
                    </div>
                    <div class="col-sm-8">
                        <span> : &nbsp;&nbsp; Session 1 </span>
                    </div>
                </div>
                <div id="" class="row pt-2">
                    <div class="col-sm-4 text-bold-700">
                        <span>Start Date</span>
                    </div>
                    <div class="col-sm-8">
                        <span> : &nbsp;&nbsp; 10/10/2020 </span>
                    </div>
                </div>
                
                <div id="" class="row pt-2">
                    <div class="col-sm-4 text-bold-700">
                        <span>End Date</span>
                    </div>
                    <div class="col-sm-8">
                        <span> : &nbsp;&nbsp; 11/10/2020 </span>
                    </div>
                </div>
                
                <div id="" class="row pt-2">
                    <div class="col-sm-4 text-bold-700">
                        <span>Location</span>
                    </div>
                    <div class="col-sm-8">
                        <span> : &nbsp;&nbsp; Kollam, Kerala, India </span>
                    </div>
                </div>
                
                <div id="" class="row pt-2">
                    <div class="col-sm-4 text-bold-700">
                        <span>Description</span>
                    </div>
                    <div class="col-sm-8">
                        <span> : &nbsp;&nbsp; Test  test  test  test  test  test  test  test  test  test  .......</span>
                    </div>
                </div>
                
                <div id="" class="row pt-2">
                    <div class="col-sm-4 text-bold-700">
                        <span>Status</span>
                    </div>
                    <div class="col-sm-8">
                        <span> : &nbsp;&nbsp; Locked</span>
                    </div>
                </div>
                
                <div id="" class="row pt-2">
                    <div class="col-sm-4 text-bold-700">
                        <span>Module Code</span>
                    </div>
                    <div class="col-sm-8">
                        <span> : &nbsp;&nbsp; M1</span>
                    </div>
                </div>
                
                <div id="" class="row pt-2">
                    <div class="col-sm-4 text-bold-700">
                        <span>Module Title/<span>
                    </div>
                    <div class="col-sm-8">
                        <span> : &nbsp;&nbsp; Module</span>
                    </div>
                </div>
                
                <div id="" class="row pt-2">
                    <div class="col-sm-4 text-bold-700">
                        <span>Number of Attendees</span>
                    </div>
                    <div class="col-sm-8">
                        <span> : &nbsp;&nbsp; 4</span>
                    </div>
                </div>
                
                <div id="" class="row pt-2">
                    <div class="col-sm-4 text-bold-700">
                        <span>Attendeed </span>
                    </div>
                    <div class="col-sm-8">
                        <span> : &nbsp;&nbsp; 4</span>
                    </div>
                </div>
                
                <div id="" class="pt-2">
                    <div class="row">
                        <h4 class="card-title pt-2">Attendees Details :</h4>
                        <div class="table-responsive col-sm-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Number</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Name On Certificate</th>
                                        <th>Email</th>
                                        <th>Company</th>
                                        <th>Designation</th>
                                        <th>Attendance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php for ($i = 1; $i < 5; $i++) : ?>
                                    <tr>
                                        <th scope="row"><?php echo $i; ?></th>
                                        <td>Name <?php echo $i; ?></td>
                                        <td>Name <?php echo $i; ?></td>
                                        <td>Name <?php echo $i; ?></td>
                                        <td>email@email.com</td>
                                        <td>My Company</td>
                                        <td>CEO</td>
                                        <td>Present</td>
                                    </tr>
                                    <?php endfor; ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
                <div id="invoice-footer">
                    <div class="row">
                        <div class="col-md-7 col-sm-12">
                            <h6>Report Details</h6>
                            <p>Report generated on 10/10/2020 10:21 AM</p>
                        </div>
                        <div class="col-md-5 col-sm-12 text-center">
                            <button type="button" class="btn btn-info btn-lg my-1">Download Report</button>
                        </div>
                    </div>
                </div>
                <!--/ Invoice Footer -->

            </div>
        </div>
    </div>
</section>

