<?php
//$actionAccess = $this->view->getVariable('actionAccess');
$session = $this->view->getVariable('session');
$attendeeTotal = $this->view->getVariable('attendeeTotal');
$moduleTotal = $this->view->getVariable('moduleTotal');

?>

<section class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div id="" class="card-body">
                <div id="" class="row">
                    <div class="col-md-12 col-sm-12 text-center text-md-center">
                        <h2>SESSION REPORT</h2>
                    </div>
                </div>
                
                <div id="" class="row pt-2">
                    <div class="col-sm-4 text-bold-700">
                        <span>Session Name</span>
                    </div>
                    <div class="col-sm-8">
                        <span> : &nbsp;&nbsp; <?php echo $this->view->escapeHtml($session->title); ?> </span>
                    </div>
                </div>
                <div id="" class="row pt-2">
                    <div class="col-sm-4 text-bold-700">
                        <span>Start Date</span>
                    </div>
                    <div class="col-sm-8">
                        <span> : &nbsp;&nbsp; <?php echo $this->view->escapeHtml($session->start_date); ?></span>
                    </div>
                </div>
                
                <div id="" class="row pt-2">
                    <div class="col-sm-4 text-bold-700">
                        <span>End Date</span>
                    </div>
                    <div class="col-sm-8">
                        <span> : &nbsp;&nbsp; <?php echo $this->view->escapeHtml($session->end_date); ?> </span>
                    </div>
                </div>
                
                <div id="" class="row pt-2">
                    <div class="col-sm-4 text-bold-700">
                        <span>Location</span>
                    </div>
                    <div class="col-sm-8">
                        <span> : &nbsp;&nbsp; <?php echo $this->view->escapeHtml($session->location); ?> </span>
                    </div>
                </div>
                
                <div id="" class="row pt-2">
                    <div class="col-sm-4 text-bold-700">
                        <span>Description</span>
                    </div>
                    <div class="col-sm-8">
                        <span> : &nbsp;&nbsp; <?php echo $this->view->escapeHtml($session->description); ?></span>
                    </div>
                </div>
                
                <div id="" class="row pt-2">
                    <div class="col-sm-4 text-bold-700">
                        <span>Status</span>
                    </div>
                    <div class="col-sm-8">
                        <span> : &nbsp;&nbsp; --</span>
                    </div>
                </div>
                
                <div id="" class="row pt-2">
                    <div class="col-sm-4 text-bold-700">
                        <span>Number of Modules</span>
                    </div>
                    <div class="col-sm-8">
                        <span> : &nbsp;&nbsp; <?php echo $moduleTotal; ?></span>
                    </div>
                </div>
                
                <div id="" class="row pt-2">
                    <div class="col-sm-4 text-bold-700">
                        <span>Number of Attendees</span>
                    </div>
                    <div class="col-sm-8">
                        <span> : &nbsp;&nbsp; <?php echo $attendeeTotal; ?></span>
                    </div>
                </div>
                
                <div id="" class="row pt-2">
                    <div class="col-sm-4 text-bold-700">
                        <span>Total of Attendee</span>
                    </div>
                    <div class="col-sm-8">
                        <span> : &nbsp;&nbsp; --</span>
                    </div>
                </div>
                <div id="" class="pt-2">
                    <?php if ($moduleTotal > 0 ) : ?>
                    
                    <div class="row">
                        <h4 class="card-title pt-2">Module Details :</h4>
                        <div class="table-responsive col-sm-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Number</th>
                                        <th>Code</th>
                                        <th>Title</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach ($this->view->getVariable('moduleList') as $moduleKey => $module) : ?>
                                    <tr>
                                        <th scope="row"><?php echo ($moduleKey + 1); ?></th>
                                        <td><?php echo $this->view->escapeHtml($module->code); ?></td>
                                        <td><?php echo $this->view->escapeHtml($module->title); ?></td>
                                    </tr>
                                    <?php endforeach; ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <?php endif; ?>
                    <?php if ($attendeeTotal > 0) : ?>
                    
                    <div class="row">
                        <h4 class="card-title pt-2">Attendees Details :</h4>
                        <div class="table-responsive col-sm-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Number</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Name On Certificate</th>
                                        <th>Email</th>
                                        <th>Company</th>
                                        <th>Designation</th>
                                        <th>Attendance</th>
                                        <th>Certificate</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach ($this->view->getVariable('attendeeList') as $attendeeKey => $attendee) : ?>
                                    <tr>
                                        <th scope="row"><?php echo ($attendeeKey + 1); ?></th>
                                        <td><?php echo $this->view->escapeHtml($attendee->first_name); ?></td>
                                        <td><?php echo $this->view->escapeHtml($attendee->last_name); ?></td>
                                        <td><?php echo $this->view->escapeHtml($attendee->name_on_certificate); ?></td>
                                        <td><?php echo $this->view->escapeHtml($attendee->email); ?></td>
                                        <td><?php echo $this->view->escapeHtml($attendee->company); ?></td>
                                        <td><?php echo $this->view->escapeHtml($attendee->designation); ?></td>
                                        <td>--</td>
                                        <td>--</td>
                                    </tr>
                                    <?php endforeach; ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <?php endif; ?>
                    
                </div>
                
                
                <div id="invoice-footer">
                    <div class="row">
                        <div class="col-md-7 col-sm-12">
                            <h6>Report Details</h6>
                            <p>Report generated on 10/10/2020 10:21 AM</p>
                        </div>
                        <div class="col-md-5 col-sm-12 text-center">
                            <button type="button" class="btn btn-info btn-lg my-1">Download Report</button>
                        </div>
                    </div>
                </div>
                <!--/ Invoice Footer -->

            </div>
        </div>
    </div>
</section>

