<?php

$form = $this->getForm();
$selectedModules = $form->getValue('module');
$session = $this->view->getVariable('session');
$locked = $session->locked > 0;
$editPermission = $this->view->getVariable('editPermission');
$disabled = ! $editPermission;

?>

                <section class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">
                                    <?php echo $this->view->sessionName($session); ?> - Modules 
                                    <?php echo $this->view->sessionLock($locked); ?>
                                    
                                </h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <?php $this->block('session-tab'); ?>
                                    
                                    <div class="tab-content px-1 pt-1">
                                        <div class="tab-pane active" aria-expanded="true">
                                            <form class="form" name="form-session-change-module" id="form-session-change-module" method="post" action="">
                                                <div class="form-body">
                                                    <?php foreach ($this->view->getVariable('modules') as $module): ?>
                                                    <?php if ($locked): ?>
                                                    <?php if (in_array($module->id, $selectedModules)): ?>
                                                    
                                                    <div class="form-group">
                                                        <label><?php echo $this->view->moduleName($module->code, $module->title); ?></label>
                                                    </div>
                                                    <?php endif; ?>
                                                    <?php else: ?>
                                                    
                                                    <div class="form-group">
                                                        <label for="module_<?php echo $module->id; ?>">
                                                            <input type="checkbox" name="module[]" id="module_<?php echo $module->id; ?>" value="<?php echo $module->id; ?>" <?php 
                                                            echo $this->view->checked(in_array($module->id, $selectedModules)); echo $this->view->disabled($disabled); ?>>
                                                            &nbsp; 
                                                            <?php echo $this->view->moduleName($module->code, $module->title); ?>

                                                        </label>
                                                    </div>
                                                    <?php endif; ?>
                                                    <?php endforeach; ?>
                                                
                                                </div>
                                                <?php if (! $locked && $editPermission): ?>
                                                
                                                <div class="form-actions center">
                                                    <?php echo $form->getCsrf(); ?>
                                                    
                                                    <button type="submit" class="btn btn-primary" title="Save">Save</button>
                                                </div>
                                                <?php endif; ?>
                                                
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
