<?php

$form = $this->getForm();
$tabUrl = $this->view->getVariable('tabUrl');
$session = $this->view->getVariable('session');
$locked = $session->locked > 0;
$editPermission = $this->view->getVariable('editPermission');

?>

                <section class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">
                                    <?php echo $this->view->sessionName($session); ?> - Session 
                                    <?php echo $this->view->sessionLock($locked); ?>
                                
                                </h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <?php $this->block('session-tab'); ?>
                                                                       
                                    <div class="tab-content px-1 pt-1">
                                        <div class="tab-pane active" aria-expanded="true">
                                            <form class="form" name="form-session-change" id="form-session-change" method="post" action="" autocomplete="off">
                                                <div class="form-group">
                                                    <label for="title">Title <span class="red">*</span></label>
                                                    <input type="text" name="title" id="name" class="form-control" value="<?php
                                                    echo $form->getEscapedValue('title'); ?>" placeholder="Title" maxlength="200" required="required"<?php echo $this->view->readOnly($locked); ?>>
                                                </div>
                                                <div class="form-group">
                                                    <label for="start_date">Start date <span class="red">*</span></label>
                                                    <input type="text" name="start_date" id="start_date" class="form-control" value="<?php
                                                    echo $form->getEscapedValue('start_date'); ?>" placeholder="Start date" maxlength="10" readonly="readonly" required="required">
                                                </div>
                                                <div class="form-group">
                                                    <label for="end_date">End date <span class="red">*</span></label>
                                                    <input type="text" name="end_date" id="end_date" class="form-control" value="<?php
                                                    echo $form->getEscapedValue('end_date'); ?>" placeholder="End date" maxlength="10" readonly="readonly" required="required">
                                                </div>
                                                <div class="form-group">
                                                    <label for="location">Location <span class="red">*</span></label>
                                                    <input type="text" name="location" id="location" class="form-control" value="<?php
                                                    echo $form->getEscapedValue('location'); ?>" placeholder="Location" required="required"<?php echo $this->view->readOnly($locked); ?>>
                                                </div>
                                                <div class="form-group">
                                                    <label for="description">Description </label>
                                                    <textarea name="description" id="description" class="form-control" placeholder="Description"<?php 
                                                    echo $this->view->readOnly($locked); ?>><?php echo $form->getEscapedValue('description'); ?></textarea>
                                                </div>
                                                <?php if (! $locked && $editPermission): ?>
                                                
                                                <div class="form-actions center">
                                                    <?php echo $form->getCsrf(); ?>
                                                    <?php echo $form->getOriginal(); ?>
                                                    
                                                    <button type="submit" class="btn btn-primary" title="Save">Save</button>
                                                </div>
                                                <?php endif; ?>
                                                
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
