<?php

$form = $this->getForm();
$session = $this->view->getVariable('session');
$locked = $session->locked > 0;
$editPermission = $this->view->getVariable('editPermission');

?>

                <section class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">
                                    <?php echo $this->view->sessionName($session); ?> - Certificate template 
                                    <?php echo $this->view->sessionLock($locked); ?>
                                    
                                </h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <?php $this->block('session-tab'); ?>
                                    
                                    <div class="tab-content px-1 pt-1">
                                        <div class="tab-pane active" aria-expanded="true">
                                            <form class="form" name="form-session-change-template" id="form-session-change-template" method="post" action="" enctype="multipart/form-data">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p>
                                                            Current template: 
                                                            <?php if ('' != $session->certificate_template): ?>

                                                            Uploaded &nbsp; <a class="btn btn-sm btn-outline-info" href="<?php 
                                                            echo $this->view->assetUrl('templates/' . $session->certificate_template); ?>" target="_blank" title="View template file">View</a>
                                                            <?php else: ?>

                                                            Not uploaded.
                                                            <?php endif; ?>
                                                            
                                                        </p>
                                                    </div>
                                                </div>
                                                <?php if (! $locked && $editPermission): ?>
                                                
                                                <div class="form-body">
                                                    <div class="form-group">
                                                        <label for="template">Upload certificate template file (PDF files only)</label>
                                                        <input type="file" name="template" id="template" class="form-control-file" accept=".pdf" required="required">
                                                    </div>
                                                </div>
                                                
                                                
                                                <div class="form-actions center">
                                                    <?php echo $form->getCsrf(); ?>
                                                    
                                                    <input type="hidden" name="test" value="">
                                                    <button type="submit" class="btn btn-primary" title="Save">Save</button>
                                                </div>
                                                <?php endif; ?>
                                                
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
