<?php

$form = $this->getForm();
$session = $this->view->getVariable('session');
$locked = $session->locked > 0;
$editPermission = $this->view->getVariable('editPermission');
if ($locked) {
    $buttonLabel = 'Unlock';
} else {
    $buttonLabel = 'Lock';
}

?>

                <section class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">
                                    <?php echo $this->view->sessionName($session); ?> - Lock <?php echo $this->view->sessionLock($locked); ?>
                                    
                                </h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <?php $this->block('session-tab'); ?>
                                    
                                    <div class="tab-content px-1 pt-1">
                                        <div class="tab-pane active" aria-expanded="true">
                                            <form class="form" name="form-session-change-lock" id="form-session-change-lock" method="post" action="">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p>
                                                            Lock status: 
                                                            <?php if ($locked) { ?>LOCKED<?php } else { ?>OPEN<?php } ?>
                                                            
                                                        </p>
                                                    </div>
                                                </div>
                                                <?php if ($editPermission): ?>

                                                <div class="form-actions center">
                                                    <?php echo $form->getCsrf(); ?>
                                                    
                                                    <input type="hidden" name="test" value="">
                                                    <input type="hidden" id="locked" value="<?php echo $session->locked; ?>">
                                                    <button type="submit" class="btn btn-primary" title="<?php echo $buttonLabel; ?> Session"><?php echo $buttonLabel; ?> Session</button>
                                                </div>
                                                <?php endif; ?>
                                                
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
