<?php

$session = $this->view->getVariable('session');
$modules = $this->view->getVariable('modules');
$sessionModules = $this->view->getVariable('sessionModules');

?>

                <section class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"><?php echo $this->view->sessionName($session); ?> - Overview</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <?php $this->block('session-tab'); ?>
                                                                       
                                    <div class="tab-content px-1 pt-1">
                                        <div class="tab-pane active" aria-expanded="true">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <td>ID</td>
                                                            <td><?php echo $session->id; ?></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Title</td>
                                                            <td><?php echo $this->view->escapeHtml($session->title); ?></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Start date</td>
                                                            <td><?php echo $this->view->sessionDate($session->start_date); ?></td>
                                                        </tr>
                                                        <tr>
                                                            <td>End date</td>
                                                            <td><?php echo $this->view->sessionDate($session->end_date); ?></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Location</td>
                                                            <td><?php echo $this->view->escapeHtml($session->location); ?></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Description</td>
                                                            <td><?php echo $this->view->textareaHtml($session->description); ?></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Modules</td>
                                                            <td>
                                                                <?php foreach ($modules as $module): ?>
                                                                <?php if (in_array($module->id, $sessionModules)): ?>
                                                                
                                                                <p><?php echo $this->view->counter() . '. ' . $this->view->moduleName($module->code, $module->title); ?></p>                                                                
                                                                <?php endif; ?>
                                                                <?php endforeach; ?>
                                                                
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Certificate template</td>
                                                            <td>
                                                                <?php if ('' != $session->certificate_template): ?>
                                                                
                                                                Uploaded &nbsp; <a class="btn btn-sm btn-outline-info" href="<?php 
                                                                echo $this->view->assetUrl('templates/' . $session->certificate_template); ?>" target="_blank" title="View template file">View</a>
                                                                <?php else: ?>
                                                                
                                                                Not uploaded.
                                                                <?php endif; ?>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Attendees</td>
                                                            <td><?php echo $this->view->getVariable('attendees'); ?></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Locked</td>
                                                            <td><?php if ($session->locked > 0) { ?>Yes<?php } else { ?>No<?php } ?></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
