<?php
$form = $this->getForm();
$actionAccess = $this->view->getVariable('actionAccess');
$selectedModules = $form->getValue('module');
$moduleNameFormat = '"%s" %s';

?>

                <section>
                    <form class="form" name="form-session-create" id="form-session-create" method="post" enctype="multipart/form-data" action="" autocomplete="off">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">New Session</h4>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div class="form-body">
                                                <div class="form-group">
                                                    <label for="title">Title <span class="red">*</span></label>
                                                    <input type="text" name="title" id="name" class="form-control" value="<?php
                                                    echo $form->getEscapedValue('title'); ?>" placeholder="Title" maxlength="200" required="required">
                                                </div>
                                                <div class="form-group">
                                                    <label for="start_date">Start date <span class="red">*</span></label>
                                                    <input type="text" name="start_date" id="start_date" class="form-control" value="<?php 
                                                    echo $form->getEscapedValue('start_date'); ?>" placeholder="Start date" maxlength="10" readonly="readonly" required="required">
                                                </div>
                                                <div class="form-group">
                                                    <label for="end_date">End date <span class="red">*</span></label>
                                                    <input type="text" name="end_date" id="end_date" class="form-control" value="<?php
                                                    echo $form->getEscapedValue('end_date'); ?>" placeholder="End date" maxlength="10" readonly="readonly" required="required">
                                                </div>
                                                <div class="form-group">
                                                    <label for="location">Location <span class="red">*</span></label>
                                                    <input type="text" name="location" id="location" class="form-control" value="<?php
                                                    echo $form->getEscapedValue('location'); ?>" placeholder="Location" required="required">
                                                </div>
                                                <div class="form-group">
                                                    <label for="description">Description </label>
                                                    <textarea name="description" id="description" class="form-control" placeholder="Description"><?php 
                                                    echo $form->getEscapedValue('description'); ?></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card" >
                                            <div class="card-content">
                                                <div class="card-body">
                                                    <h4 class="card-title">Modules</h4>
                                                    <?php foreach ($this->view->getVariable('modules') as $module) : ?>

                                                    <div class="col-md-12 col-sm-12">
                                                        <div class="form-group">
                                                            <label for="module_<?php echo $module->id; ?>">
                                                                <input type="checkbox" name="module[]" id="module_<?php echo $module->id; ?>" value="<?php echo $module->id; ?>"<?php 
                                                                echo $this->view->checked(in_array($module->id, $selectedModules)); ?>>
                                                                &nbsp; 
                                                                <?php echo $this->view->escapeHtml(sprintf($moduleNameFormat, $module->code, $module->title)); ?>

                                                            </label>
                                                        </div>
                                                    </div>
                                                    <?php endforeach; ?>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card" >
                                            <div class="card-content">
                                                <div class="card-body">
                                                    <h4 class="card-title">Certificate template</h4>
                                                    <div class="form-group">
                                                        <label for="template">Upload certificate template file (PDF files only)</label>
                                                        <input type="file" name="template" id="template" class="form-control-file" accept=".pdf">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-actions d-flex justify-content-center">
                                    <?php echo $form->getCsrf(); ?>

                                    <button type="submit" class="btn btn-primary" title="Save">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
