<?php

$actionAccess = $this->view->getVariable('actionAccess');
$total = $this->view->getVariable('total');
$statusOptions = $this->view->getVariable('statusOptions');
$statusColorOptions = $this->view->getVariable('statusColorOptions');
$showAllColumns = false;

?>

                <section class="row">
                    <div class="col-md-12 col-sm-12">
                        <div id="with-header" class="card">
                            <div class="card-header">
                                <h4 class="card-title">Sessions</h4>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body border-top-blue-grey border-top-lighten-5 ">
                                    <?php if ($total > 0): ?>

                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered zero-configuration">
                                            <thead class="bg-blue-grey white">
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Date</th>
                                                    <th>Title</th>
                                                    <?php if ($showAllColumns): ?>
                                                    
                                                    <th>Location</th>
                                                    <th>Timeline</th>
                                                    <th>Attendees</th>
                                                    <?php endif; ?>
                                                    
                                                    <th>Status</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <?php foreach ($this->view->getVariable('list') as $row) : ?>
                                                <tr>
                                                    <td><?php echo $row->id; ?></td>
                                                    <td><?php echo $this->view->sessionDate($row->start_date, $row->end_date); ?></td>
                                                    <td><?php echo $this->view->escapeHtml($row->title); ?></td>
                                                    <?php if ($showAllColumns): ?>
                                                    
                                                    <td><?php echo $this->view->escapeHtml($row->location); ?></td>
                                                    <td><?php echo $this->view->sessionTimeline($row->start_date, $row->end_date); ?></td>
                                                    <td><?php echo $this->view->lookup('attendees', $row->id, '--'); ?></td>
                                                    <?php endif; ?>
                                                    
                                                    <td><?php echo $this->view->sessionStatus($row->start_date, $row->locked); ?></td>
                                                    <td>
                                                        <a class="btn btn-info mr-1" href="<?php 
                                                            echo $this->view->actionUrl('session/change/id/' . $row->id); ?>" title="Manage">
                                                            <i class="ft-edit"></i> Manage Session
                                                        </a>
                                                        <?php if (0 == $row->locked && in_array('delete', $actionAccess)): ?>

                                                        <a class="btn btn-danger confirm-remove" href="<?php
                                                            echo $this->view->actionUrl('session/remove/id/' . $row->id); ?>" title="Delete" data-confirm="Session">
                                                            <i class="ft-delete"></i> Delete
                                                        </a>
                                                        <?php endif; ?>

                                                    </td>
                                                </tr>
                                                <?php endforeach;  ?> 

                                            </tbody>
                                        </table>
                                    </div>
                                    <?php else: ?>

                                    <div class="alert alert-warning">No records found</div>
                                    <?php endif; ?>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
