<?php
/**
 * Auth Layout
 */

$baseUrl = $this->view->baseUrl();
$layoutVariables = $this->view->getVariable('layoutVariables');
$headMeta = $layoutVariables['headMeta'];
$themeUrl = $layoutVariables['themeUrl'];
$mediaUrl = $this->view->mediaUrl();
$showPreLoader = $this->view->getVariable('showPreLoader');


?><!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="<?php echo $this->view->escapeHtml($headMeta['description']); ?>">
    <meta name="keywords" content="<?php echo $this->view->escapeHtml($headMeta['keywords']); ?>">
    <meta name="author" content="DubaiPolice">
    <title><?php echo $this->view->escapeHtml($headMeta['title']); ?></title>
    <link rel="apple-touch-icon" href="<?php echo $mediaUrl; ?>images/icon/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="<?php echo $mediaUrl; ?>images/icon/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i%7CComfortaa:300,400,700" rel="stylesheet">

    <!-- BEGIN: Vendor CSS -->
    <link rel="stylesheet" type="text/css" href="<?php echo $themeUrl; ?>app-assets/vendors/css/vendors.min.css">
    <!-- END: Vendor CSS -->

    <!-- BEGIN: Theme CSS -->
    <link rel="stylesheet" type="text/css" href="<?php echo $themeUrl; ?>app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="<?php echo $themeUrl; ?>app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="<?php echo $themeUrl; ?>app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="<?php echo $themeUrl; ?>app-assets/css/components.css">
    <!-- END: Theme CSS -->

    <!-- BEGIN: Page CSS -->
    <link rel="stylesheet" type="text/css" href="<?php echo $themeUrl; ?>app-assets/css/core/menu/menu-types/horizontal-menu.css">
    <link rel="stylesheet" type="text/css" href="<?php echo $themeUrl; ?>app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="<?php echo $themeUrl; ?>app-assets/css/pages/error.css">
    <link rel="stylesheet" type="text/css" href="<?php echo $themeUrl; ?>app-assets/css/pages/login-register.css">
    <!-- END: Page CSS -->

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="horizontal-layout horizontal-menu 1-column  bg-full-screen-image blank-page blank-page" data-open="hover" data-menu="horizontal-menu" data-color="bg-gradient-x-purple-blue" data-col="1-column">

    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-wrapper-before"></div>
            <div class="content-header row">
            </div>
            <div class="content-body">
                
                <?php $this->content(); ?>

            </div>
        </div>
    </div>
    <!-- END: Content-->


    <!-- BEGIN: Vendor JS-->
    <script src="<?php echo $themeUrl; ?>app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="<?php echo $themeUrl; ?>app-assets/vendors/js/ui/jquery.sticky.js" type="text/javascript" ></script>
    <script src="<?php echo $themeUrl; ?>app-assets/vendors/js/forms/validation/jqBootstrapValidation.js" type="text/javascript"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="<?php echo $themeUrl; ?>app-assets/js/core/app-menu.js" type="text/javascript"></script>
    <script src="<?php echo $themeUrl; ?>app-assets/js/core/app.js" type="text/javascript"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="<?php echo $themeUrl; ?>app-assets/js/scripts/forms/form-login-register.js" type="text/javascript"></script>
    <!-- END: Page JS-->

</body>
<!-- END: Body-->

</html>
