<?php
/**
 * Index Layout
 */

use Application\Constant\UserType;

$baseUrl = $this->view->baseUrl();
$mediaUrl = $this->view->mediaUrl();
$jsBaseUrl = $this->view->mediaUrl('js/');
$actionUrl = $this->view->actionUrl();
$moduleBaseUrl = $actionUrl;
$layoutVariables = $this->view->getVariable('layoutVariables');
$tab = $layoutVariables['currentTab'];
$session = $layoutVariables['session'];
$headMeta = $layoutVariables['headMeta'];
$javascripts = $layoutVariables['javascripts'];
$themeUrl = $layoutVariables['themeUrl'];
$userType = $session->get('user_type_id');
$menuBlocks = [
    UserType::ADMIN => 'menu-admin',
    UserType::MANAGER => 'menu-manager',
];
$menu = $menuBlocks[$userType];

?><!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="<?php $this->view->escapeHtml($headMeta['description']); ?>">
    <meta name="keywords" content="<?php $this->view->escapeHtml($headMeta['keywords']); ?>">
    <meta name="author" content="Certicate">
    <meta name="csrf-token" content="<?php echo $this->view->escapeHtml($layoutVariables['csrfToken']); ?>">
    <title><?php echo $this->view->escapeHtml($headMeta['title']); ?></title>
    <link rel="apple-touch-icon" href="<?php echo $mediaUrl; ?>images/icon/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="<?php echo $mediaUrl; ?>images/icon/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i%7CComfortaa:300,400,700" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="<?php echo $themeUrl; ?>app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="<?php echo $themeUrl; ?>app-assets/vendors/css/ui/prism.min.css">
    <link rel="stylesheet" type="text/css" href="<?php echo $themeUrl; ?>app-assets/vendors/css/forms/icheck/icheck.css">
    <link rel="stylesheet" type="text/css" href="<?php echo $themeUrl; ?>app-assets/vendors/css/pickers/daterange/daterangepicker.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="<?php echo $themeUrl; ?>app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="<?php echo $themeUrl; ?>app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="<?php echo $themeUrl; ?>app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="<?php echo $themeUrl; ?>app-assets/css/components.css">
    <!-- END: Theme CSS-->

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="<?php echo $themeUrl; ?>app-assets/css/core/menu/menu-types/horizontal-menu.css">
    <link rel="stylesheet" type="text/css" href="<?php echo $themeUrl; ?>app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="<?php echo $themeUrl; ?>app-assets/css/plugins/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="<?php echo $themeUrl; ?>app-assets/css/pages/error.css">
    <link rel="stylesheet" type="text/css" href="<?php echo $themeUrl; ?>app-assets/css/plugins/forms/checkboxes-radios.css">
    <link rel="stylesheet" type="text/css" href="<?php echo $themeUrl; ?>app-assets/css/plugins/pickers/daterange/daterange.css">
    <!-- END: Page CSS-->

    <?php if (! empty($javascripts[1])): ?>
    <?php echo $javascripts[1]; ?>
    <?php endif; ?>
    
    <script>
        var datepickerDateFormat = "<?php echo $this->view->getVariable('datepickerDateFormat'); ?>";
    </script>
    
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="horizontal-layout horizontal-menu 2-columns  " data-open="hover" data-menu="horizontal-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">

    <!-- BEGIN: Header-->
    <!-- fixed-top-->
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow navbar-static-top navbar-light navbar-brand-center">
        <div class="navbar-header res_logo_cvr">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li>
                <li class="nav-item">
                    <a class="navbar-brand" href="<?php echo $baseUrl; ?>" title="Dashboard">
                        <img clas="brand-logo" src="<?php echo $mediaUrl; ?>images/logo/logo3.png" alt="Logo">
                        <h3 class="brand-text">WGEO</h3>
                    </a>
                </li>
                <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a></li>
            </ul>
        </div>
        <div class="navbar-wrapper">
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                        <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu"></i></a></li>
                        <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i class="ficon ft-maximize"></i></a></li>                     
                    </ul>
                    
                    <ul class="nav navbar-nav float-right">
                        <li class="dropdown dropdown-user nav-item">
                            <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown"> 
                                <span class="avatar avatar-online">
                                    <img src="<?php echo $themeUrl; ?>app-assets/images/avatar/blank-avatar.png" alt="avatar">
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="arrow_box_right">
                                    <a class="dropdown-item" href="#">
                                        <span class="avatar avatar-online">
                                            <span class="user-name text-bold-700 ml-1">
                                                <?php echo $this->view->escapeHtml($session->get('first_name') . ' ' . $session->get('last_name')); ?>
                                                
                                            </span>
                                        </span>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="<?php echo $this->view->actionUrl('profile'); ?>"><i class="ft-user"></i> Edit Profile</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="<?php echo $this->view->actionUrl('index/logout'); ?>"><i class="ft-power"></i> Logout</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </nav>
    <!-- END: Header-->

    <?php $this->block($menu); ?>
    

    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-wrapper-before"></div>
            <div class="content-header row">
                <div class="content-header-left col-md-4 col-12 mb-2">
                    <h3 class="content-header-title">
                        <?php echo $layoutVariables['pageHeading']; ?>
                        <?php if (! empty($layoutVariables['pageSubheading'])): ?>
                        
                        &nbsp;
                        <small><?php echo $layoutVariables['pageSubheading']; ?></small>
                        <?php endif; ?>
                        
                    </h3>
                </div>
                <div class="content-header-right col-md-8 col-12">
                    <div class="breadcrumbs-top float-md-right">
                        <div class="breadcrumb-wrapper mr-1">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="<?php echo $this->view->actionUrl(''); ?>" title="Home">Home</a>
                                </li>
                                <?php echo $layoutVariables['breadcrumb']; ?>
                                
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <?php $this->block('flash'); ?>
                
                <?php $this->content(); ?>
                
            </div>
        </div>
    </div>
    <!-- END: Content-->

    <!-- BEGIN: Footer-->
    
    <footer class="footer footer-static footer-light navbar-shadow">
        <div class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
            <span class="float-md-left d-block d-md-inline-block">
                <?php echo $layoutVariables['year']; ?> &copy; Copyright 
                <a class="text-bold-800 grey darken-2" href="#" target="_blank">Certificate</a>
            </span>
        </div>
    </footer>
    <!-- END: Footer-->
    <?php $this->blocks(); ?>

    <!-- BEGIN: Vendor JS-->
    <script src="<?php echo $themeUrl; ?>app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script type="text/javascript" src="<?php echo $themeUrl; ?>app-assets/vendors/js/ui/jquery.sticky.js"></script>
    <script type="text/javascript" src="<?php echo $themeUrl; ?>app-assets/vendors/js/ui/prism.min.js"></script>
    <script type="text/javascript" src="<?php echo $themeUrl; ?>app-assets/vendors/js/forms/icheck/icheck.min.js"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="<?php echo $themeUrl; ?>app-assets/js/core/app-menu.js" type="text/javascript"></script>
    <script src="<?php echo $themeUrl; ?>app-assets/js/core/app.js" type="text/javascript"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <!-- END: Page JS-->
    <?php
    if (! empty($javascripts[2])) {
        echo $javascripts[2]; 
    }
    if (! empty($javascripts[3])) {
        echo $javascripts[3];
    }

    $this->scriptBlocks();

?>

</body>
<!-- END: Body-->

</html>
