<?php
$form = $this->getForm();

?>

                <section class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">My Profile</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <form class="form" name="form-profile" method="post" action="" autocomplete="off">
                                        <div class="form-body">
                                            <div class="form-group">
                                                <label for="first_name">First Name</label>
                                                <input type="text" name="first_name" id="first_name" class="form-control" value="<?php 
                                                echo $form->getEscapedValue('first_name'); ?>" placeholder="First Name" required="required">
                                            </div>
                                            <div class="form-group">
                                                <label for="last_name">Last Name</label>
                                                <input type="text" name="last_name" id="last_name" class="form-control" value="<?php 
                                                echo $form->getEscapedValue('last_name'); ?>" placeholder="Last Name">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input type="email" name="email" id="email" class="form-control" value="<?php 
                                                echo $form->getEscapedValue('email'); ?>" placeholder="Email" required="required">
                                            </div>
                                            <div class="form-group">
                                                <label><strong>Change Password</strong> (fill password fields below, if password is to be changed)</label>
                                            </div>
                                            <div class="form-group">
                                                <label for="profile_password1">Current password</label>
                                                <input type="password" name="profile_password1" id="profile_password1" class="form-control" placeholder="Current Password">
                                            </div>
                                            <div class="form-group">
                                                <label for="profile_password2">New password</label>
                                                <input type="password" name="profile_password2" id="profile_password2" class="form-control" placeholder="New Password">
                                                <p class="help-block">Minimum 6 characters, no space characters allowed</p>
                                            </div>
                                            <div class="form-group">
                                                <label for="profile_password3">Repeat New password</label>
                                                <input type="password" name="profile_password3" id="profile_password3" class="form-control" placeholder="Repeat New Password">
                                            </div>
                                        </div>
                                        <div class="form-actions center">
                                            <?php echo $form->getCsrf(); ?>
                                            
                                            <button type="submit" class="btn btn-primary" title="Save">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
